* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
}
.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2rem;
}

.moves-left,
.round-msg {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.score {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: purple;
}

.reset-game {
  margin-inline: auto;
  display: block;
  padding: 1rem 2rem;
  background-color: #71c0bb;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-block: 1rem;
  transition: all 0.3s ease;
}

.reset-game:hover {
  background-color: #71c0bb70;
}

.reset-game:active {
  scale: 1.2;
}
